### Load Context

In [3]:
import os
import sys
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import glob

## Sim Full BS

In [30]:
path = "../data/07_sim_output/sim_full_res_BS.csv/"
lo_files = glob.glob(path + "*/sim_full_res_BS.csv", recursive=True)

df = pd.DataFrame()
for fn in lo_files:
    df = df.append(pd.read_csv(fn), ignore_index=True)

In [32]:
df.agg(['mean', 'std', 'count']).drop('itr_BS', axis=1)

       acc_value    acc_test         FNR
mean     0.75700    0.814600    0.013000
std      0.03509    0.040587    0.012513
count  100.00000  100.000000  100.000000

57   DtrH|Deut.11    Dtr  0.243259
168  DtrH|Josh.23    Dtr  0.010641
172   Dtr|Deut.15   DtrH  0.799861
1     Dtr|Deut.18   DtrH  0.450364
133   Dtr|Deut.19   DtrH  0.378044
61      P|Exod.16   DtrH  0.871127
94       P|Exod.6   DtrH  0.397122
142      P|Gen.17   DtrH  0.529305


Misclassified with t_test:
           doc_id corpus    t_test
81    DtrH|1Kgs.8    Dtr  1.848974
90   DtrH|Deut.11    Dtr  0.018318
176  DtrH|Josh.12      P  0.173194
69    DtrH|Judg.6    Dtr  0.849376
160   Dtr|Deut.16   DtrH  0.542987
40    Dtr|Deut.28   DtrH  1.622331
30      P|Exod.16    Dtr  1.384730
79       P|Exod.6   DtrH  0.292850
157       P|Lev.2   DtrH  0.001914

Misclassified with t_test:
           doc_id corpus    t_test
90   DtrH|Deut.11    Dtr  0.252438
177   DtrH|Deut.8    Dtr  0.345648
129  DtrH|Josh.23    Dtr  0.044067
16    Dtr|Deut.12   DtrH  1.838722
169   Dtr|Deut.13   DtrH  0.074671
100   Dtr|Deut.16   DtrH  0.249995
76    Dtr|Deut.18   DtrH  0.074824
145   Dtr|Deut.19   DtrH  0.211408
97      P|Exod.16   DtrH  0.699950
157      P|Exod.6   DtrH  0.136798
151      P|Gen.17   DtrH  0.820654